@font-face{font-family:'Parry Hotter';
  src: url("./fonts/parryhotter.ttf");
}
@font-face{
  font-family:'Dragon is coming';
  src: url('./fonts/Dragon is coming.otf');
}
html{
  min-width:1200px;
  max-width:1200px;
}
body{
      background-color:#383643;
      font-family:Arial, Helvetica, sans-serif;
      color:#ffffff;
      font-size:16px;  
      text-shadow: 1px 1px 7px #111111;
    }
.top-site{text-align:center;
          background-image:url("./images/doge.jpg");
          }  
li{
  display:inline;
  color:#ffffff;
  margin:2px;
  text-align: center; 
  padding:12px;
  border-radius: 10px; 
}

h2{font-family:"Parry Hotter";
  color:#ffffff;
  font-size:24px;
  text-shadow: 2px 2px 9px #111111;
  text-align:center;
}
.comment-site, .temporary{
  margin:4px auto 4px auto;
  text-align:center;
}
p,a {
  color:#ffffff;
  text-decoration: none;
  }   
p.harry{
  text-align:justify;
  font-size:16px;
}
footer{
  font-size:12px;
  text-align:center;
}

h2+p:first-letter{
  font-weight:bold;
  font-size:200%;
}

li:hover{
  background-color:#0294fe;
  color:#383643;
}

a:active{
  opacity:0.85;
  font-size:125%;
}
input.submit:focus{
  background-color: red;
}
.harry{
  padding:4px;
}
